annotated-types
anyio
certifi
charset-normalizer
click
colorama
fastapi
greenlet
h11
httpcore
httpx
idna
Jinja2
MarkupSafe
python-multipart
pydantic
pydantic_core
requests
sniffio
SQLAlchemy
starlette
typing-inspection
typing_extensions
urllib3
uvicorn
itsdangerous